.form-scrap{
    font-family: $font-principal;
    font-weight: 700;
    // width: 800px;
    input{
        min-width: 80%;
        height: 26px;
        border: none;
        border-bottom: 2px solid #009444;
        background: none;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        padding-left: 1rem;
        margin-bottom: 20px;
        margin-left: 24px;
        // label{
        //     width: 20%;
        // }
        // -webkit-border-top-right-radius: 45px;
        // -webkit-border-bottom-right-radius: 45px;
        // -moz-border-radius-topright: 45px;
        // -moz-border-radius-bottomright: 45px;
        // border-top-right-radius: 45px;
        // border-bottom-right-radius: 45px;

        // border-color: $greenDark;
    }
  
}

@media screen and (max-width:1150px) { 
    
    .form-scrap{
        width: 90%;
        
        input{
            margin-right: auto;
            margin-left: auto;
        }
        
    }
}
    
    
