{% block formScrap %}
    <form action="">
        <div>
            <label for="name">Sitemap</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="name">Type d'extraction</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="name">Container</label>
            <input type="email" name="email" id="email" required>
            <p><a href="#">+ add data</a></p>

        </div>
        <div>
            <label for="name">Path</label>
            <input type="email" name="email" id="email" required>

            <label for="name">Type data</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="email" name="email" id="email" required>

            <label for="name">Category</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="name">Periodicity</label>
            <input type="email" name="email" id="email" required>
        </div>

        <button class="btn-login mt-4">Cancel</button>
        <button class="btn-login mt-4">Register</button>
    </form>

    <p>View</p>
    <p>"We vaccinate just in time", "there are no hidden stocks": details from Olivier Véran after the start of the campaign in France.</p>
{% endblock %}

