{% block header %}

                <div class="text-align-r pt-3"><a href="destroy" class="deconnexion hover:text-red-700 italic"><i class="fas fa-power-off"></i>Sign out</a></div>
                <div class="svg-container mx-auto mb-6"><h1><img class="img-fluid" src="assets/images/logo_harvestdata_680x130.svg" alt="Logo Harvestdata"></h1></div>

{% endblock %}
