{% block header %}

                <div class="text-right p-6 text-xl"><a href="destroy" class="deconnexion hover:text-red-700 italic"><i class="fas fa-power-off pr-2"></i>Sign out</a></div>
                <div class="svg-container w-96 mx-auto mb-6"><h1><img class="img-fluid" src="assets/images/logo_harvestdata_680x130.svg" alt="Logo Harvestdata"></h1></div>

{% endblock %}
