{% block header %}
    <div class="text-align-r mt-1"><a href="destroy" class="deconnexion"><i class="fas fa-power-off"></i>Sign out</a></div>
    <h1 class="text-align-c"><img src="assets/images/logo_harvestdata_680x130.svg" alt="Logo Harvestdata" width="446" height="76"></h1>
{% endblock %}
