{% block menu %}
    <div class="menu text-align-c mb-4">
        <ul>
            <li><a href="#" class="border-menu pb-3">Home</a></li>
            <li><a href="#" class="border-menu pb-3">Account</a></li>
            <li><a href="#" class="border-menu pb-3">Extraction</a></li>
        </ul>
    </div>
{% endblock %}
