{% block menu %}
    <!-- <div class="menu text-align-c mb-4"> -->
    <div class="text-center text-2xl">
        <ul>
            <li class="inline pr-16"><a href="scrap" class="border-menu pb-3">Home</a></li>
            <li class="inline pr-16"><a href="create-account" class="border-menu pb-3">Account</a></li>
            <li class="inline"><a href="history" class="border-menu pb-3">Extraction</a></li>
        </ul>
    </div>
{% endblock %}
