{% block menu %}
    <div class="menu text-align-c">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Extraction</a></li>
        </ul>
    </div>
{% endblock %}
