body {
    margin: 0;
    font-family: $font-principal;
}

h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

p{
    margin: 0;
    font-size: 1rem;
}
.text-align-c{
    text-align: center;
}
.text-align-r{
    text-align: right;
}
.text-align-f{
    text-align: left;
}
a{
    text-decoration: none;
    color: $colorText;
}

.hidden{
    display: none;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

li{
    list-style: none;
}

.bg-color-site{
    margin-top: 0;
    background: linear-gradient(90deg, rgba(141,198,63,1) 0%, rgba(0,148,68,1) 100%);
}

.bg-white{
    background: rgb(248, 248, 248);
    width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

// Change le fond de l'input sélectionné
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
// Enlever la bordure à la sélection de l'input
input{
    outline-style: none;
}

.svg-container {
    max-width: 500px;
}