// COLORS
$greenLight: #8DC63F;
$greenDark: #009444;
$greyLight: #6D6E71;
$greyDark: #58595B;
$colorTrash: #BE1E2D;

//COLOR TEXT
$colorText: #231F20;
$colorText-light: #FFFFFF;

// FONT
$font-principal: 'Montserrat', sans-serif;

// MARGIN
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}