.menu{ 
    font-family: $font-principal;
    ul{
        
        li{
            display: inline;
            font-size: 1.5625rem;
            margin-right: 3rem;
        }
    }
    li:last-of-type{
        margin-right: 0;

    }
    
}

.border-menu:hover, .border-menu:active{
    border-bottom: 3px solid $greyDark;
    width: 110%;
}