{% extends "base.html.twig" %}

{% block content %}
    <!-- FORM CREATE ACCOUNT -->
    <div class="container-create-account">
        <form novalidate method="post" id="create-account">
            
            <div>
                <label for="username">Name</label>
                <input type="text" name="username" id="username" required>
          
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" id="firstname" required>
     
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            
            <div>
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass" required>
            </div>

            <div>
                <label for="pass2">Confirm password</label>
                <input type="password" name="pass2" id="pass2" required>
            </div>

            <button class="btn-register mt-4">Register</button>
            
            
            
        </form>
        

        <!-- Error -->
        <div class="error hidden">
            <p></p>
        </div>
    </div>
{% endblock %}

{% block script %}<script src="assets/scripts/add-user.js"></script>{% endblock %}
