{% extends "base-site.html.twig" %}


{% block content %}

  <div class="container mx-auto max-w-4xl">
    {% include "parts/menu.html.twig" %}
  
    <h2 class="mt-16">Hystory of my extractions</h2>
    
    {% include "parts/extracts.html.twig" %}
    
  </div>

  



{% endblock %}