{% extends "base.html.twig" %}

{% block content %}
    <div class="container mx-auto">

        <div class="flex justify-around my-12">

            <div class="text-center">
            <h1>Logo</h1>
            <h2>Private Access</h2>
            <p>Sign in to access pages</p>
            </div>

            <div>
            <form action="">
                <label for="">Your email</label>
                <div class="my-6 md:mx-5 border-b-2 border-gray-700"></div>
                <label for="">Your password</label>
                <div class="my-6 md:mx-5 border-b-2 border-gray-700"></div>
                <button class="p-4 bg-green-400 hover:bg-green-500 w-full rounded-lg shadow text-xl font-medium uppercase text-white">LOGIN</button>
                <p>Don’t have an account ? Create your account</p>
            </div>
        </div>
            </form>
    

        </div>
    </div>
{% endblock %}

        
    