{% extends "base.html.twig" %}

{% block content %}
 
        <div class="container-login">
            
                <div class="text-align-r">
                    <h1><img src="assets/images/logo_harvestdata_680x130.svg" alt="Logo Harvestdata" width="500" height="111"></h1>
                    <h2 class="mt-3">Private Access</h2>
                    <p class="access">Sign in to access pages</p>
                </div>
                
                <!-- FORM LOGIN -->
                <div>
                    <form novalidate method="post" id="log-in">
                        
                        <div>
                            <label for="name">Your email</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                    
                        <div class="mt-4">
                            <label for="email">Your password</label>
                            <input type="password" name="pass" id="password" required>
                        </div>
                
                        <button class="btn-login mt-4">Login</button>
                        
                    </form>
                    <p class="mt-2">Don’t have an account ? <a href="#">Create your account</a></p>
    
                    <!-- Error -->
                    <div class="error hidden">
                        <p></p>
                    </div>
                </div>
        </div>
        
            

    
{% endblock %}


    