{% extends "base-site.html.twig" %}


{% block content %}

  {% include "parts/menu.html.twig" %}

  <div class="italic ml-5"><br>Bienvenue<span> .... {{ email }} </span>, vous êtes connectés !</div> <br>

  {% include "parts/form-scrap.html.twig" %} 

  



{% endblock %}