.font-12 {
  font-size: 0.75rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pt-1 {
  padding-top: 1rem;
}

.container-main {
  width: 50rem;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
  font-size: 1rem;
}

.text-align-c {
  text-align: center;
}

.text-align-r {
  text-align: right;
}

.text-align-f {
  text-align: left;
}

a {
  text-decoration: none;
  color: #231F20;
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

li {
  list-style: none;
}

.bg-color-site {
  margin-top: 0;
  background: linear-gradient(90deg, #8dc63f 0%, #009444 100%);
}

.bg-white {
  background: #f8f8f8;
  width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.856) inset;
}

input {
  outline-style: none;
}

.svg-container {
  max-width: 500px;
}

textarea:focus,
select:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=file]:focus {
  background: rgba(133, 243, 100, 0.2);
}

p.access {
  font-size: 2.5rem;
}

.bg-login {
  background: url("../../images/fond_login.png") no-repeat;
  background-size: 100%;
  height: 100vh;
}
.bg-login .container-login {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bg-login .container-login input {
  display: block;
  width: 530px;
  height: 50px;
  border: none;
  border-bottom: 3px solid #009444;
  margin-top: 35px;
  background: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding-left: 2rem;
  margin-bottom: 30px;
}
.bg-login .container-login label {
  font-size: 1.8rem;
  color: #6D6E71;
  font-weight: 300;
}
.bg-login .container-login button {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}
.bg-login .container-login .error {
  color: red;
}

@media screen and (max-width: 1100px) {
  .bg-login .container-login {
    flex-direction: column;
    color: red;
    max-width: 100%;
    height: auto;
  }
}
.container-create-account {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-create-account input {
  display: block;
  width: 400px;
  border: none;
  height: 35px;
  border-bottom: 3px solid #009444;
  margin-bottom: 40px;
  background: none;
  padding-left: 2rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.container-create-account label {
  font-size: 1rem;
  color: #6D6E71;
  font-weight: 300;
  margin-top: 0.75rem;
}
.container-create-account button {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}
.container-create-account .error {
  top: 50px;
  left: 50px;
  padding: 15px;
  border-radius: 3px;
}
.container-create-account .error.false {
  color: red;
}
.container-create-account .error.true {
  color: green;
}

.form-scrap input {
  width: 100%;
  height: 38px;
  margin-top: 35px;
  background: none;
  -webkit-border-top-right-radius: 45px;
  -webkit-border-bottom-right-radius: 45px;
  -moz-border-radius-topright: 45px;
  -moz-border-radius-bottomright: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-color: #009444;
}
.form-scrap label {
  display: inline;
}

.btn-login {
  -webkit-border-top-right-radius: 45px;
  -webkit-border-bottom-right-radius: 45px;
  -moz-border-radius-topright: 45px;
  -moz-border-radius-bottomright: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  background: linear-gradient(90deg, #8dc63f 0%, #009444 100%);
  border: none;
  width: 100%;
  height: 4.375rem;
}

.btn-register {
  -webkit-border-top-right-radius: 45px;
  -webkit-border-bottom-right-radius: 45px;
  -moz-border-radius-topright: 45px;
  -moz-border-radius-bottomright: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  background: linear-gradient(90deg, #8dc63f 0%, #009444 100%);
  border: none;
  width: 100%;
  height: 3.375rem;
}

.btn-cancel {
  -webkit-border-top-right-radius: 45px;
  -webkit-border-bottom-right-radius: 45px;
  -moz-border-radius-topright: 45px;
  -moz-border-radius-bottomright: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  background: linear-gradient(90deg, #7d7e7d 0%, #292c2b 100%);
  border: none;
  width: 100%;
  height: 3.375rem;
}

.deconnexion {
  font-size: 1.5625rem;
  font-weight: 700;
  color: #58595B;
  margin-right: 1.5rem;
}
.deconnexion i:before {
  margin-right: 1rem;
  font-size: 2.1875rem;
}

.menu ul li {
  display: inline;
  font-size: 1.5625rem;
  margin-right: 2rem;
}
.menu li:last-of-type {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
